body {
    background-color: #b6cbe3 !important;

}

header {
    text-align: center;
    font-size: 55pt;
    font-family: 'Bangers', cursive;
}

#image {
    width: 600px;
}

#button {
    text-align: center;
}

#hu {
    font-family: ;
}